@charset "UTF-8";
/* CSS Document */

#calculator {
	padding: 5px;
	margin: 10px;
	border: 2px solid;
	border-radius: 10px;
	width: 50%;
	display: block;
	background-image: linear-gradient(#F2F2F2, #B7B7B7);
}

.input {
	border: 1px solid;
	border-radius: 3px;
}

.button {
	border: 1px solid;
}